body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cyan;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
/* Add these styles to your style.css file */

#sos-section {
    text-align: center;
    margin: 20px 0;
}

#sos-button {
    background-color: red; /* Red color for emergency */
    color: white;
    font-size: 1.5em; /* Bigger font size */
    padding: 15px 30px; /* Padding to make the button larger */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#sos-button:hover {
    background-color: darkred; /* Darker red when hovered */
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
